.menu__button {
    width: 70%;

    max-height: 25%;

    color: var(--color-red) ;
    background-color: var(--color-cyan);

    text-decoration: none;

    padding: 1svh;

    transition: all linear 0.35s;

    text-align: center;
}

.menu__button:hover {
    color: var(--color-cyan) ;
    background-color: var(--color-red);
}
