.piece {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.black_pawn, .white_pawn {
    background-color: coral;
}
.black_rock, .white_rock {
    background-color: goldenrod;
}
.black_knight, .white_knight {
    background-color: blue;
}
.black_bishop, .white_bishop {
    background-color: lime;
}
.black_queen, .white_queen {
    background-color:fuchsia;
}
.black_king, .white_king {
    background-color: indigo;
}