.piece {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.black_pawn {
    background-color: rgba(255, 127, 80, 0.5);
} 
.white_pawn {
    background-color: coral;
}
.black_rock {
    background-color: rgba(218, 165, 32, 0.5);
}

.white_rock {
    background-color: goldenrod;
}
.black_knight{
    background-color: rgba(0, 0, 255, 0.5);
} 
.white_knight {
    background-color: blue;
}
.black_bishop {
    background-color: rgba(0, 255, 0, 0.5);
} 
.white_bishop {
    background-color: lime;
}
.black_queen
{
    background-color:rgba(255, 0, 255, 0.5);
}
.white_queen {
    background-color:fuchsia;
}
.black_king{
    background-color: rgba(76, 0, 130, 0.5);
} 
.white_king {
    background-color: indigo;
}