@keyframes movment {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.piece {
    border-radius: 50%;
    height: 100%;

    aspect-ratio: 1/1;

    background-size: cover;

    transition: all;
}

.movment_in {
    animation: 0.8s normal movment forwards;
}

.black_pawn {
    background-image: url("../images/pawn_black.svg")
} 
.white_pawn {
    background-image: url("../images/pawn_white.svg")
}
.black_rock {
    background-image: url("../images/rock_black.svg")
}
.white_rock {
    background-image: url("../images/rock_white.svg")
}
.black_knight{
    background-image: url("../images/knight_black.svg")
} 
.white_knight {
    background-image: url("../images/knight_white.svg")
}
.black_bishop {
    background-image: url("../images/bishop_black.svg")
} 
.white_bishop {
    background-image: url("../images/bishop_white.svg")
}
.black_queen{
    background-image: url("../images/queen_black.svg")
}
.white_queen {
    background-image: url("../images/queen_while.svg")
}
.black_king{
    background-image: url("../images/king_black.svg")
} 
.white_king {
    background-image: url("../images/kilng_white.svg")
}