@import url(pice_style.css);

body {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.Board {
    display: inline-grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 500px;
    height: 500px;
}

.cell {
    border: 3px solid gray;
    display: flex;
    align-items: center;
}

.lighttedCell {
    border-color: gray;
    position: relative;
}

.lighttedCell::before {
    left: 25%;
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 50%;
}

.lighttedCell_eat::before {
    background-color: red;
}

.cellWhite {
    background-color: green;
}

.cellBlack {
    background-color: black;
}