@import url(pice_style.css);
@import url(normolize.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Board {
    display: inline-grid;
    border: 3px solid darkgray;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: fit-content;

    background-color: rgba(131, 131, 131, 0.527);
}

.boardPlace {
    display: flex;
    position: relative;
    transform: translateY(15%);
    top: 50%;
    gap: 5%;
}

.cell {
    margin: 2.5px;

    height: 50px;
    aspect-ratio: 1/1;
    border: 3px solid grey;
    display: flex;
    align-items: center;
}

.selectedCell {
    border: 2px cadetblue dashed;
}

.lighttedCell {
    position: relative;
}

.lighttedCell::before {
    right: 25%;

    position: absolute;
    content: '';
    width: 25px;
    background-color: rgb(65, 105, 225);
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.lighttedCell_eat {
    border: 3px orange inset;
    margin: 1.5px
}

.lighttedCell_eat::before {
    background-color: rgba(65, 105, 225, 0);
}

.cellWhite {
    background-color: crimson;
}

.cellBlack {
    background-color: white;
}