.board__cell {
    border: 1.9px solid darkgray;
    display: flex;
    align-items: center;
}

.board__cell_lightted {
    position: relative;
}

.board__cell_lightted::before {
    left: 25%;
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-color: royalblue;
    border-radius: 50%;
}

.board__cell_eat::before {
    background-color: rgb(73, 0, 0);
}

.board__cell_white {
    background-color: crimson;
}

.board__cell_black {
    background-color: white;
}
