.form__input {
    --color-teal: #e0fefe;
    --color-red : #69152d;

    padding: 1svh;

    width: 80%;

    color: var(--color-red, crimson);
    background-color: var(--color-teal);

    border: 3px solid var(--color-red);
}

.form__input_button {
    background-color: var(--color-red);
    color: var(--color-teal);

    cursor: pointer;
}
