@import url("./__cell/board__cell.css");

.board {
    display: inline-grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 50svh;
    aspect-ratio: 1/1;

    max-width: 500px;

    border: 0.25svb solid var(--color-red, black);
    outline: 1svb solid var(--color-cyan, white);
}
